In [181]:
#load libary pandas
import pandas as pd

In [182]:
# read csv file(reg_pbp_2009)
data = pd.read_csv("reg_pbp_2009.csv")
data

C:\Users\ahmad\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (42,167,168,175,176,179,180,183,184,189,190,191,192,204,205,206,232,233,234,239,241,242) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44595,3768,2010010308,NYJ,CIN,NaN,NaN,NaN,CIN,NaN,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
#get the shape
data.shape

(44596, 256)

In [184]:
#According to the percentage NAN in each column
def percnt_missing(data):
    percnt_missing_data = data.isna().sum() / data.shape[0]
    return percnt_missing_data

In [185]:
#numbers of columns have missing data
def colunm_missing(data):
    percnt_missing_data = percnt_missing(data)
    count=0
    for index in data:
        if(percnt_missing_data[index]>0):
            count+=1
    print("The number of columns that contain NAN :",count)

In [186]:
percnt_missing(data)

play_id                          0.000000
game_id                          0.000000
home_team                        0.000000
away_team                        0.000000
posteam                          0.034712
                                   ...
penalty_type                     0.935375
defensive_two_point_attempt      0.033904
defensive_two_point_conv         0.033904
defensive_extra_point_attempt    0.033904
defensive_extra_point_conv       0.033904
Length: 256, dtype: float64

In [187]:
colunm_missing(data)

The number of columns that contain NAN : 202

In [188]:
# Delete columns containing either 70% or more than 70% NaN Values
def clean(data,percnt_missing):
    min_count =  int(((100-percnt_missing)/100)*data.shape[0] + 1)
    data = data.dropna( axis=1, thresh=min_count)
    return data

In [189]:
data = clean(data,70)

In [190]:
colunm_missing(data)

The number of columns that contain NAN : 114

In [191]:
#fill missing values by mean
data=data.fillna(data.mean()).round(2)

C:\Users\ahmad\AppData\Local\Temp/ipykernel_15864/628665489.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data=data.fillna(data.mean()).round(2)

In [192]:
colunm_missing(data)

The number of columns that contain NAN : 19

In [193]:
#to select all columns with NaN values:
data[data.columns[data.isna().any()]]

,posteam,posteam_type,defteam,side_of_field,time,yrdln,play_type,pass_length,pass_location,run_location,passer_player_id,passer_player_name,receiver_player_id,receiver_player_name,rusher_player_id,rusher_player_name,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name
0,PIT,home,TEN,TEN,15:00,TEN 30,kickoff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,00-0025406,M.Griffin
1,PIT,home,TEN,PIT,14:53,PIT 42,pass,short,left,NaN,00-0022924,B.Roethlisberger,00-0017162,H.Ward,NaN,NaN,TEN,00-0021219,C.Hope
2,PIT,home,TEN,PIT,14:16,PIT 47,run,NaN,NaN,right,NaN,NaN,NaN,NaN,00-0022250,W.Parker,TEN,00-0024331,S.Tulloch
3,PIT,home,TEN,PIT,13:35,PIT 44,pass,deep,right,NaN,00-0022924,B.Roethlisberger,00-0026901,M.Wallace,NaN,NaN,NaN,NaN,NaN
4,PIT,home,TEN,PIT,13:27,PIT 44,punt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,CIN,away,NYJ,NYJ,02:00,NYJ 26,pass,NaN,NaN,NaN,00-0021296,J.O'Sullivan,NaN,NaN,NaN,NaN,NYJ,00-0025753,J.Ihedigbo
44592,NYJ,home,CIN,CIN,01:47,CIN 28,qb_kneel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-0024264,K.Clemens,NaN,NaN,NaN
44593,NYJ,home,CIN,CIN,01:06,CIN 29,qb_kneel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-0024264,K.Clemens,NaN,NaN,NaN
44594,NYJ,home,CIN,CIN,00:28,CIN 30,qb_kneel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-0024264,K.Clemens,NaN,NaN,NaN
44595,NaN,NaN,NaN,CIN,00:00,CIN 30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
#numbers = 999 & string = Missing
#fill missing values by global constant
data= data.fillna({'posteam':'Missing',
                   'posteam_type':'Missing',
                   'defteam':'Missing',
                  'side_of_field':'Missing',
                   'time':999,
                  'yrdln':'Missing',
                   'play_type':'Missing',
                   'pass_length':'Missing',
                   'pass_location':'Missing',
                  'run_location':'Missing',
                   'passer_player_id':999,
                   'passer_player_name':'Missing',
                   'receiver_player_id':999,
                   'receiver_player_name':'Missing',
                   'rusher_player_id':999,
                   'rusher_player_name':'Missing',
                   'solo_tackle_1_team':'Missing',
                   'solo_tackle_1_player_id':999,
                   'solo_tackle_1_player_name':'Missing',
                  })

In [195]:
colunm_missing(data)

The number of columns that contain NAN : 0

In [196]:
data

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,rusher_player_name,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.00,2009-09-10,...,Missing,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.00,2009-09-10,...,Missing,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.00,2009-09-10,...,W.Parker,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.00,2009-09-10,...,Missing,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.00,2009-09-10,...,Missing,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.00,2010-01-03,...,Missing,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.00,2010-01-03,...,K.Clemens,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.00,2010-01-03,...,K.Clemens,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.00,2010-01-03,...,K.Clemens,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0
44595,3768,2010010308,NYJ,CIN,Missing,Missing,Missing,CIN,48.95,2010-01-03,...,Missing,Missing,999,Missing,0,0,0.0,0.0,0.0,0.0

In [197]:
# Methods used 
#Handle Missing Data : deletewhole attribute of missing values:It was used only in columns that have a nano ratio of 70% or more
# Handle Missing Data : fill missing values by mean : It gave the best results after trying other methods
# Handle Missing Data : fill missing values by global constant : used on time and id and names only 

#methods not used
# Handle Missing Data : deletewhole attribute of missing values : This method is not practice
# Handle Missing Data : delete tuples of missing values : This method is not practice
# Handle Missing Data : (ordered data) fill missing by last observed or next observed value : This data is not in ordered
# Handle Missing Data : (ordered data) fill missing interpolation : This data is not in ordered
# Handle Missing Data : fill missing by Predictive/Statistical models : By mean is better than Statistical models